.carding{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin: 2rem;
  display: grid;
  place-items: center;
  /* border: 1px solid; */
  box-shadow: 1px 1px 20px black;
  border-radius: 2rem;
}

.flex{
  display: flex;
  justify-content: center;
}

.mg-2 {
  margin: 2rem;
}